{% extends 'tienda/base.html' %}
{% block content %}
    <h1>Editar un producto</h1>
    <div class="card">
        <div class="card-header">
           Editar informacion del Producto
        </div>
        <div class="card-body">
            <form method="post">
                <h4 class="card-title">Datos del producto</h4>
                {% csrf_token %}
                {{formulario}}
                <input name="" class="btn btn-success" id="" type="submit" value="Enviar información"></input>
            </form>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
{% endblock %}
