<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de productos</title>
</head>
<body>
    <h1>Listado de productos</h1>
    <ul>
         {% for listado in listado %}
             <li>{{listado.nombre}} {{listado.marca}} {{listado.unidades}} unidades {{listado.precio}}€</li>
         {%endfor%}
    </ul>


    <form action="" method="POST"></form>
        {% csrf_token %}
            {% if mensaje %}
                <p>Producto guardado</p>
            {% endif %}
        {{ form }}
    </form>

</body>
</html>
