{% extends 'tienda/base.html' %}

{% block content %}
	<h2>Bienvenido a la tienda virtual</h2>
	<ul>
		<li><a href="{% url 'listado' %}">Gestion de productos</a></li>
		<li><a href="{% url 'listado_informes' %}">Informes</a></li>
        <li><a href="{% url 'comprador' %}">Realizar compra</a></li>
        <li><a href="{% url 'registro' %}">Registrarse</a></li>
	</ul>
    <br>
    <br>
    <a name="" id="" class="btn btn-success" href="{% url 'iniciosesion' %}" role="button">Login</a>
{% endblock %}
