{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Productos por marca</h2>
    <form method="get">
        {{ formulario }}
        <input type="submit" value="Consultar">
    </form>
    {% if productos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>
                        {{ producto.nombre }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ producto.modelo }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        {{ producto.marca }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ producto.unidades }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        {{ producto.precio }}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
