{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Productos por marca</h2>
    <form method="get">
        {{ formulario }}
        <input type="submit" value="Consultar">
    </form>
    {% if compras %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Unidades</th>
                </tr>
            </thead>
            <tbody>
            {% for compra in compras %}
                <tr>
                    <td>
                        {{ compra.producto }}
                    </td>
                    <td>
                        {{ compra.fecha }}
                    </td>
                    <td>
                        {{ compra.importe }}
                    </td>
                    <td>
                        {{ compra.unidades }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
