{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Informes</h2>
    <ul>
        <li class="informes"><a href="{% url 'listado_marca' %}">Productos por marca</a></li>
        <li class="informes"><a href="{% url 'informe_topten_producto' %}">Top ten productos</a></li>
        <li class="informes"><a href="{% url 'compra_usuario' %}">Compras por usuario</a></li>
        <li class="informes"><a href="{% url 'informe_topten_clientes' %}">Top ten mejores clientes</a></li>
    </ul>
{% endblock %}
