{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Top 10 productos</h2>
    {% if productos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Unidades Vendidas</th>
                     <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for unidades in unidadesvendidas %}
                <tr>
                     <td>
                         {% for prod in productos %}
                             {% if prod.id == unidades.producto %}
                                {{ prod.nombre }}
                             {% endif %}
                         {% endfor %}
                    </td>
                    <td>
                            {{ unidades.unidades_vendidas }}
                    </td>
                    <td>
                            {{ unidades.importe_total }}€
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
