{% extends 'tienda/base.html' %}
{% block content %}
    <h4>Mejores Clientes</h4>
    {% if recompras %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id del cliente</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
            {% for compra in recompras %}
                 <tr>
                    <td>
                        {% for cliente in clientes %}
                            {% if cliente.id == compra.user %}
                                {{ cliente.username }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ compra.sum_compras }}€
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
